@using FreeMarket.Models
@model CashOrderViewModel

<div id="parent" class="center_div">

    @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "font-size:20px" })

    @if (Model.Order.DatePlaced != null)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Order.DatePlaced, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Order.DatePlaced)
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedCustodian, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.SelectedCustodian, Model.Custodians, new { @class = "form-control" })
        </div>
    </div>

    @if (Model.CustomerType != null)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.SelectedCustomerType, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.SelectedCustomerType, Model.CustomerType, "Choose", new { @class = "form-control" })
            </div>
        </div>
    }

</div>

<div id="FormElements">

</div>